/* Structure */
html {
  font-size: 16px;
}

body {
    color: rgb(255, 255, 255); 
    background-color: rgb(0, 0, 11);
    font-family: Verdana, sans-serif, sans-serif;
    display: flex;
}

div.content-spread {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 10vh;
}

div.vert-spread {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

div.center-phrase {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.banner {
  position: relative;
  text-align: center;
  padding-bottom: 10vh;
}

div.center-float{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.container{
  padding-left: 5%;
  padding-right: 5%;
}

div.image-text{
  padding-top: 20%;
  padding-left: 10%;
}

div.image-top{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
}

/* Image Carosel (Credit: W3Schools) */
* {box-sizing:border-box}

/* Slideshow container */
.carosel-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides1, mySlides2 {
  display: none;
}

/* Buttons */
.button {
  border: none;
  border-radius: 20%;
  background-color: rgba(9, 9, 70, 0.8);
  color: white;
  padding: 6px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(9, 9, 70);
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* Fonts */
.quicksand-paragraph {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.poiret-one-regular {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Text attributes */
h1 {
  font-family: "Poiret One";
  font-size: 5rem;
}

h2 {
  font-family: "Poiret One";
  font-size: 2rem;
}

h3 {
  font-family: "Poiret One";
  font-size: 1.5rem;
}

p, em, strong {
  font-family: "Quicksand";
}

/*Designs Page*/
.column {
  display: flex;
  flex-direction: column; /* Stack items top-to-bottom */
  flex-wrap: wrap;       /* Wrap items into new columns */
  width: 1000px;         /* Required for column wrapping */
  height: 1200px;
}

