body {
    color: rgb(255, 255, 255); 
    background-color: rgb(2, 15, 30);
    font-family: system-ui, sans-serif;
    background: linear-gradient(to bottom,
    #0b2542,
    darken(#0b2542, 15%)
  );
}

div.content-spread {
  display: flex;
  justify-content: space-evenly;
}